header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: 'text image image image'
                          'form form form none';

    .text {
        box-sizing: border-box;
        height: 31em;
        padding-bottom: 6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 1em;
        h1 {
            font-size: 3.5em;
            font-weight: bold;
        }
        p {
            font-size: 1.2em;
            margin-top: 1.3em;
        }
    }

    .image {
        height: 31em;
        width: 100%;
        margin-bottom: -6em;
        background: url('../images/1.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }

    .form {
        // min-height: 6em;
        background: #fff;
        z-index: 1;
        margin-top: -6em;
        form {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 1em 1em;
            display: grid;
            grid-gap: 1em;
            grid-template-columns: 2fr 1fr 1fr 1fr;

            #search-query { grid-column: 1; }
            #object-type { grid-column: 2; }
            #action-type { grid-column: 3; }
            #submit-button { grid-column: 4; }

            .input-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .text { grid-area: text }
    .image { grid-area: image }
    .form { grid-area: form }
}

@media (max-width: 1260px) {
    header {
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-areas: 'text image image image'
                              'form form form form';
    }
}

@media (max-width: 1040px) {
    header {
        .form form {
            grid-template-columns: 1fr 1fr 1fr;
            #search-query {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row: 1;
            }
            #object-type {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row: 2;
            }
            #action-type {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row: 2;
            }
            #submit-button {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row: 2;
            }

        }
    }
}

@media (max-width: 930px) {
    header {
        grid-template-areas: 'text text text text'
                             'image image image image'
                             'form form form form';
        .text {
            height: auto;
            padding-bottom: 0;
        }
        .image { margin: 2em 0 1em 0; }
        .form { margin-top: 0; }
    }
}

@media (max-width: 660px) {
    header {
        .text { text-align: center; }
        .form form {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            #search-query {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row: 1;
            }
            #object-type {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row: 2;
            }
            #action-type {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row: 2;
            }
            #submit-button {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row: 3;
            }
        }
    }
}